<section {{!-- style="background: url({{profile.background}});center center no-repeat; background-size: cover;" --}}
    class="view-profile">
    {{#if error}}
    <h1 class="h6" style="color: red;">Query Parameters Error</h1>
    <a href="/" class="btn-1">Home</a>
    {{else}}
    <main
        style="background: linear-gradient({{profile.mode}},{{profile.primary}},{{profile.secondary}},{{profile.tertiary}});"
        class="bg bg-image justify-between card">
        {{#if display.image}}
        <img class="avatar" src="{{image}}" alt="Avatar">
        {{/if}}
        <article class="col" style="min-width: 50%;flex-grow: 1;text-align: start;">
            <span class="{{font}}"
                style="font-size: 4rem;font-weight: 500; margin: 0.1rem 0;color: {{profile.font_color}};">{{profile.name}}</span>
            <span class="h7 bio {{font}}" style="color: {{profile.font_color}};">{{profile.bio}}</span>
            {{#if display.links}}
            <div class="row">
                <a href="mailto:{{profile.email}}" target="_blank" rel="noreferrer" class="badge row center">
                    <iconify-icon icon="ion:mail-open" width="22" height="22"></iconify-icon>
                </a>
                {{#each extLinks}}
                <a href="{{this.url}}" target="_blank" rel="noreferrer" class="badge row center">
                    <iconify-icon icon="{{this.icon}}" width="22" height="22"></iconify-icon>
                </a>
                {{/each}}
            </div>
            {{/if}}
        </article>
    </main>
    {{/if}}
</section>