<section class="home-page">
    <h3 class="h5 tac reduce-margin">{{title}}</h3>
    <form action="/generate" method="get" id="profile" class="col gap-8 form">
        <div class="col gap-8">

            <div class="row center">
                {{#each fields}}
                <div class="col">
                    <label class="label" for="{{this.name}}">{{this.name}}</label>
                    <input class="input" type="{{this.type}}" placeholder="{{this.placeholder}}"
                        maxlength="{{this.maxlength}}" minlength="{{this.minlength}}" name="{{this.name}}"
                        id="{{this.name}}" required="true">
                </div>
                {{/each}}
                <input type="hidden" id="links-holder">
            </div>

            <label for="links" class="label">Socail Links</label>
            <textarea
                placeholder="Paste links seperated by comma. (Twitter, Github, Facebook, Instagram, LinkedIN, ...others)"
                rows="8" name="links" id="links" class="social-links-input"></textarea>
            <p style="color:red;font-weight: 300;margin: 0;">Please Follow the correct order while pasting links!</p>
            <div class="row urls center"></div>

            {{#each options}}
            <div class="row">
                <label for="{{this.name}}" class="label">{{this.placeholder}}</label>
                <input type={{this.type}} name="{{this.name}}" id="{{this.name}}" checked="true" class="input">
            </div>
            {{/each}}

            <div class="row">
                <label for="font_color" class="label">Font Color</label>
                <input type="color" name="font_color" value="#111" id="font_color">
            </div>

            <div class="row vc-center">
                <label for="font" class="label">Select Font</label>
                <select name="font" id="font" class="input">
                    <option class="option urbanist" value="urbanist">Urbanist</option>
                    <option class="option kanit" value="kanit">Kanit</option>
                    <option class="option abel" value="abel">Abel</option>
                    <option class="option righteous" value="righteous">Righteous</option>
                    <option class="option poppins" value="poppins">Poppins</option>
                </select>
                <input type="url" name="background" value="https://source.unsplash.com/random" id="background"
                    class="input" placeholder="Add Backgroud Image">
            </div>
            <label class="label" for="color">Select Color Scheme</label>
            <div class="row">
                {{#each colorValue}}
                <input value="#ffecdf" maxlength="50" type="{{this.type}}" name="{{this.name}}" id="{{this.name}}">
                {{/each}}
            </div>

            <div class="row vc-center">
                <label class="label" for="mode">Select Gradient Direction</label>
                <select name="mode" id="mode" class="input">
                    <option class="value" style="padding: 12px;" value="to right">to right</option>
                    <option class="value" style="padding: 12px;" value="to bottom right">to bottom right</option>
                    <option class="value" style="padding: 12px;" value="to left">to left</option>
                    <option class="value" style="padding: 12px;" value="to bottom left">to bottom left</option>
                    <option class="value" style="padding: 12px;" value="to bottom">to bottom</option>
                    <option class="value" style="padding: 12px;" value="to top">to top</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn-1">Submit</button>
    </form>
</section>